<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express Browsable API</title>
    <link href="css/bootstrap-3.3.5.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
  </head>
  <body>
    
    {{{body}}}

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap-3.3.5.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script>
    $(document).ready(function() {
        $('form').ajaxForm();
    });
    </script>
  </body>
</html>